{% extends 'base.html' %}

{% block content %}
<form action="{% url 'post_create' %}" method="post">
    {% csrf_token %}
    <h2>새로운 게시글 작성</h2>
    <!--<label for="title">제목</label>
    <input type="text" id="title" name="title" autocomplete="off" required>

    <label for="body">본문</label>
    <input type="text" id="body" name="body" autocomplete="off" required>

    <label for="author_name">작성자</label>
    <input type="text" id="author_name" name="author_name" autocomplete="off" required> -->

    {{ form }}

    <input type="submit" value="작성">
</form>
{% endblock %}